html,body{
 width: 99%;
 height: 100%;
align-items: center;
}

.bordure {
    display: flex;
    width:100%;
}

.affichage img {
    opacity: 0;
    width: 11vw;
    height: auto;
}

.affichage {
    border: solid 1px rgb(245, 84, 223);    background-color: pink;
    width: 100%;
    width:fit-content;
    
}

.affichage:hover {
    background-color: rgb(255, 56, 139);
    cursor: pointer;
}

.affichage img:active {
    opacity: 100%;
    background-color: white;
}

.globale {
    
}