*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    width: 100%;
    background-color: rgb(248, 69, 69);
    margin: 0;
    padding: 0;
    display: inline-block;
}
main {
    position: absolute;
    width: 100vw;
}
.gauche {
    height: 90vh;
    width: 20vw;
    background-color: rgb(42, 127, 255);
    margin: 0;
    padding: 0;
    float: left;
}

.milieu{
    width: 80vw;
    height: 90vh;
    float: left;
    position: relative;
    background-color: rgb(134, 251, 150);
}
