*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    width: 100%;
    background-color: #3aa394;
}

.menu {
    height: 5vh;
    width: 100%;
    background-color: #9b4d96;
}

.milieu {
    width: 96%;
    height: 71vh;
    margin: 2vh auto; 
    background-color: #f1c400;
}

footer {
    height: 10vh;
    width: 100%;
    background-color: #3aa394;
    position: relative; 
} 